{% extends "/frontend/templates/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <!-- <script src="{{ url_for('static', filename='/frontend/static/scripts/home.js') }}"></script> -->
    <link rel="stylesheet" href="{{url_for('static', filename='frontend/static/styles/styles.css') }}">
    <link rel="stylesheet " href="{{url_for('static', filename='frontend/static/styles/home.css') }}">
    <link rel="stylesheet" href="https://cdn.mathpix.com/fonts/cmu.css"/>
{% endblock %}

{% block content %}
    <div id="preview" class="preview scrollEditor">
    <div id="container-ruller" />
    <div id="preview-content">
      <div class="preview-paragraph-0 preview-line 0" data_line_start="0" data_line_end="0" data_line="0,1" count_line="1"><img src="Website_Banners" href=".../frontend/static/images/Website_Banners.png"  alt=""></div>
<h1 type="title" class="main-title preview-paragraph-2 preview-line 2 3 4" id="explore-our-deals" data_line_start="2" data_line_end="4" data_line="2,5" count_line="3">
Explore our Deals</h1>
<div class="preview-paragraph-6 preview-line 6" data_line_start="6" data_line_end="6" data_line="6,7" count_line="1"><img src="iphone14series" href="../frontend/static/images/iphone14series.png" alt=""></div>
<div class="preview-paragraph-8 preview-line 8" data_line_start="8" data_line_end="8" data_line="8,9" count_line="1">Mobile Phones</div>
<div class="preview-paragraph-10 preview-line 10" data_line_start="10" data_line_end="10" data_line="10,11" count_line="1"><img src="imacs" href="../frontend/static/images/imacs.jpeg" alt=""></div>
<div class="preview-paragraph-12 preview-line 12" data_line_start="12" data_line_end="12" data_line="12,13" count_line="1">Computers</div>
<div class="preview-paragraph-14 preview-line 14" data_line_start="14" data_line_end="14" data_line="14,15" count_line="1"><img src="xiaomi-mi-band-5-watch-strap-3-units" href="../frontend/static/images/xiaomi-mi-band-5-watch-strap-3-units.jpeg" alt=""></div>
<div class="preview-paragraph-16 preview-line 16" data_line_start="16" data_line_end="16" data_line="16,17" count_line="1">Accessories</div>
    </div>
  </div>
    <h1>category for article </h1>
    <div id="categorie" >
        {% for article in categorie %}
            <a href='/categorie/{{ article.id }}'> <img src={{ article.src }} alt={{ article.title }} title={{ article.title }} /> </a>
            <h2> {{ article.title}} </h2>
        {% endfor %}
    </div>
{% endblock %}
