{% extends "/frontend/templates/base.html" %}
{% block title %}Welcome{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='frontend/static/styles/landing_page.css') }}">
{% endblock %}

{% block content %} 
    <nav id="paragraph" class="paragraph-naviagtion">
        <a class="paragraph1" href="#"><span>Highlight</span><br/></a>
        <a class="paragraph1" href="#"><span>Specification</span><br/></a>
        <a class="paragraph1" href="#"><span>Compare></span><br/></a>
    </nav>


    <p><span>Iphone 14 Series</span><br/></p>
    <p id="paragraph2"><span>LATEST ARRIVALS</span><br/></p>
    <p id="paragraph3">
    <span>Quality and elegance are our</span>
    <br/>
    <span>top priorities at affordable</span>
    <br/>
    <span>prices.</span> <br/>

    <div class="btn_buy">
        <button type="button">BUY NOW</button>
    </div>
    <img id="image5" class="image5" src="{{url_for('static', filename='frontend/static/images/nav_left.png') }}">
    <img id="image6" class="image6" src="{{ url_for('static',filename='frontend/static/images/circle.png') }}">
    <img id="image7" class="image7" src="{{ url_for('static', filename='frontend/static/images/iphone14.png') }}">
    <img id="image8" class="image8" src="{{url_for('static', filename='frontend/static/images/nav_right.png') }}">
    <img id="image9" class="image9" src="{{url_for('static', filename='frontend/static/images/arrow.png') }}">
{% endblock %}