{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block head %}
     <link rel="stylesheet" href=".../frontend/static/images/style.css">
     <link rel="stylesheet" href=".../frontend/static/images/landinng_page.css">
{% endblock %}
{% block content %}
<div id="sidebar">
<div id="outline">
</div>
</div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1"><img class="bi x0 y0 w1 h1" alt="" src="iphone14series" href="../frontend/static/images/iphone14series.png">
</div>
<div class="loading-indicator">
	<img alt="" src="indicator" href="../frontend/static/images/indicator.png>
</div>
{% endblock %}
