<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='frontend/static/styles/connexion_style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="login">Login</a>
				<a href="register" class="active">Register</a>
			</div>
			<form action="register" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				

                <label for="password"><i class="fas fa-lock"></i></label>
				<input type="password" name="password" placeholder="Password" id="password" required>
                <label for="password"><i class="fas fa-lock"></i></label>
				<input type="password" name="confirm_password" placeholder="Password" id="confirm_password" required>


                <!-- <label for="Contry"><i class=""></i></label>
				<input type="text" name="contry" placeholder="Contry" id="contry" required> -->
				
				<label>Pays</label>
				<select id="icone" name="icone">
					{% for p in msg.pays %}
						{{ p.name }}
						<option value={{ p.id }}> {{ p.name }}</option>
					{% endfor %}
				</select>
					


				<label for="Citie"><i class=""></i></label>
				<input type="text" name="citie" placeholder="Citie" id="citie" required>
				
                
                <label for="email">
					<i class="fas fa-envelope"></i>
				</label>                
                <input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">
					
				</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>