<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	    
        {% block head %}
            <script src="{{ url_for('static', filename='scripts/hello.js') }}"></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </HEAD>
    <BODY>
        <div class="container-fluid m-2">
            <div class="row">
                <div class="col-sm border border-secondary">
                  Logo
                </div>
                <div class="col-sm col-8 border border-success">
                    <nav id="navigation" class="navbar navbar-expand">
                        {% block navbar %}
                            <a class="navbar-brand" href="...">Product</a>
                            <a class="navbar-brand" href="...">Features</a>
                            <a class="navbar-brand" href="...">Contact</a>
                        {% endblock %}
                    </nav>
                </div>
                <div class="col-sm border border-warning">
                  Login/Logout
                </div>
            </div>
            
        </div>

        <div class="container border border-success">
            {% block content %} {% endblock %} 
        </div>

        <div id="footer" class="container-fluid border border-dark m-2">
            {% block footer %}
            &copy; Copyright 2022 by <a href="https://github.com/HamaBarhamou">HamaBarhamou</a>.
            {% endblock %}
        </div>
        

        <!-- Bootstrap JS bundle -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </BODY>
</HTML>