footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 25px;
    background: #773ac7;
}

.footer-contact-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

.contact{
    margin-left: 20px;
}

.contact img{
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: right;
    display: flex;
    align-items: center;
}

.p{
    color: #fff;
    text-align: right;
    text-transform: lowercase;
}

.contact:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}