.hero-section{
  width: 50%;
  height: calc(100vh - 120px);
  background-image: url('../images/placeholder.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
}

.hero-section .spotlight{
  height: 150px;
  display: block;
  margin: auto;
}

button{
  background-color: #773ac7;
  justify-content: center;
}

.collection-container{
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.categories{
  position: relative;
}

.categories img{
  width:min-content;
  height: min-content;
  object-fit:scale-down;
}

.categories p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(4, 4, 4);
  font-size: 50px;
  text-transform:capitalize;
}

.categories:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
}