*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 200px;
  margin-right: 100px;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  align-items: center;
}
nav ul li a{
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
nav .navLinks button{
  padding: 2px 20px;
  border-radius: 10px;
  color: white;
  background-color: #773ac7;
  font-size: 16px;
  border-style: none;
  font-weight: 700;
  margin-left: 500px;
  align-items: left;
}
nav ul li:hover{
  background-color: #773ac7;
}
nav .menubtn{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}
 
/* responsive navbar css */
@media screen and (max-width: 600px) {
  nav .menubtn{
    display: flex;
  }
  nav .navLinks{
    display: none;
  }
}
 
.nav2{
  padding: 5px 10vw;
  justify-content: left;
  list-style: none;
  margin-right: 1000px;
}
 
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 15%;
}
.row .column1 {
  padding-right: 20px;
}

.column1 h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.column1 h2 {
  font-size: 60px;
  margin-bottom: 10px;
}
.column1 p {
  font-size: 25px;
  margin-bottom: 15px;
}
.column1 button {
  width: 150px;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: none;
  color: white;
  background-color: #773ac7;
  font-size: 17px;
  font-weight: 600;
}
/* Header content responsive */
@media screen and (max-width: 980px) {
  .column2 img {
    /* width: 60000px;
    height: 60000px; */
    margin-right: 1000px;
    object-fit: cover;
  }
  .column1 h1 {
    font-size: 40px;
  }
  .column1 p{
    font-size: 17px;
  }
  .row {
    margin-top: 80px;
  }
}
 
@media screen and (max-width: 600px) {
 
  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
 
  }
  .row .column1 {
    padding: 30px;
  }
}