.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}
.sc_ {
    text-shadow: none;
}
@media screen {
    .sc_ {
         text-stroke: 0px transparent;
    }
}
.y0 {
    bottom: -0.5px;
}
.h0 {
    height: 576px;
}
.h1 {
    height: 576.5px;
}
.w0 {
     width: 1024.56px;
}
.w1 {
     width: 1025px;
}
.x0 {
     left: 0px;
}
@media print {
     .y0 {
          bottom: -0.67pt;
     }
     .h0 {
          height: 768pt;
     }
     .h1 {
          height: 768.67pt;
     }
     .w0 { 
	  width: 1366.08pt;
     }
     .w1 {
          width: 1366.67pt;
         }
     .x0 {
          left:0pt;
     }
}
