#sidebar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 250px;
      padding: 0;
      margin: 0;
      overflow: auto;
}
#page-container { 
       position: absolute;
       top: 0;
       left: 0;
       margin: 0; 
       padding : 0;
       border : 0;
}
@media screen { 
       #sidebar.opened + #page-container { 
        left: 250px;
        }

        #page-container {
             bottom: 0;
             right: 0;
             overflow: auto;
        }
       .loading-indicator {
             display: none;
        }
       .loading-indicator.active {
              display: block;
              position: absolute;
              width: 64px; 
              height: 64px; 
              top: 50%; 
              left: 50%; 
              margin-top: -32px;
              margin-left: -32px;
             }
       
       .loading-indicator img {
           position: absolute; 
           top: 0; 
           left: 0;
           bottom: 0; 
           right: 0;
       }
}
@media print {
      @page {
           margin: 0;
      }
      html {
           margin: 0;
      }
      Body {
           margin: 0; 
       }
       #sidebar {
            display: none;
      }
       #page-container {
             width: auto;
             height: auto; 
             overflow: visible;
             background-color: transparent;
       }
       .d {
            display: none;
     }
}
.pf {
       position: relative; 
       background-color: white;
       overflow: hidden;
       margin: 0;
       border: 0;
       position: absolute;
       border: 0;
       margin: 0;
       top: 0;
       bottom: 0;
       width: 100%;
       height: 100% ;
       user-select: none;
}
.bi {
        position: absolute;
        border: 0;
        margin: 0;
        user-select: none;
}
@media print {
        .pf {
              margin: 0;
              box-shadow: none;
              page-break-after: always;
              page-break-inside: avoid;
        }
  }
.c {
        position: absolute;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: block;
}
.t {
        position: absolute;
        white-space: pre;
        font-size: 1px;
        transform-origin: 0 100%;
}
 .t :after{
      content: '';
}
.t :before {
      content: '';
      display: inline-block;
}
.t span {
       position: relative;
}
._ {
       display: inline-block;
       color: transparent;
       z-index: -1;
}
::selection {
      background:  rgb (127,255,255)
}
.pi {
       display: none;
}
.d {
       position: absolute;
       transform-origin: 0 100%;
 }
.it {
       border: 0;
       background-color: rgb (255,255,255);
}
.ir:hover{
       cursor:pointer;
}
@keyframes fadein {
	from {
	    opacity: 0
        }
        to {
           opacity: 1
        }
}
@keyframes swing{
        0 {
           transform : rotate(0);
        }
        10% {
           transform: rotate(0);
        }
        90% {
           transform: rotate(720deg);
        }
        100% {
           transform: rotate(720deg);
        }
}
@media screen {
        #sidebar {
            background-color: #2f3236;
        }
#outline {
       font-family: Georgia,Times,"Times New Roman",serif;font-size:13px;margin:2em 1em};
#outline ul {
       padding: 0;
}
#outline li {
       list-style-type: none;
       margin: 1em 0;
}
#outline li > ul {
           margin-left : 1em;
           }
#outline a, #outline a: visited, #outline a: hover, #outline a: active {
           line-height: 1.2;
           color:  #e8e8e8;
           text-overflow: ellipsis;
           white-space: nowrap;
           text-decoration: none;
           display: block;
           overflow: hidden;
           outline: 0;
}
#outline a: hover {
          color: #0cf
}
#page-container {
          background-color: #9e9e9e;
          transition: left 500ms;
}
.pf {
          margin: 13px auto;
          box-shadow: 1px 1px 3px 1px #333;
          border-collapse: separate
  }
}
.loading-indicator.active {
        Animation :swing 1.5s ease-in-out .01s infinite alternate none
}
.checked {
        background : no-repeat
}
.ff0 {
        font-family: sans-serif;
        visibility: hidden;
}
.sc_ {
       text-shadow: none;
}
@media screen {
    .sc_ {
         text-stroke: 0px transparent;
    }
}
.y0 {
    bottom: -0.5px;
}
.h0 {
    height: 576px;
}
.h1 {
    height: 576.5px;
}
.w0 {
     width: 1024.56px;
}
.w1 {
     width: 1025px;
}
.x0 {
     left: 0px;
}
@media print {
     .y0 {
          bottom: -0.67pt;
     }
     .h0 {
          height: 768pt;
     }
     .h1 {
          height: 768.67pt;
     }
     .w0 {
          width: 1366.08pt;
     }
     .w1 {
          width: 1366.67pt;
         }
     .x0 {
          left:0pt;
     }
}
